 *{
    
    box-sizing: border-box;
  }

.App {
  text-align: center;
  justify-content: center;
  align-items: center;
}
label{
  margin: 0 !important;
}
.home{
 background-image: url("https://tse4.mm.bing.net/th?id=OIP.h6AbpJN-Q-QdDgMk55qbFgHaEK&pid=Api&P=0");
 min-width:100vw;
 min-height: 100vh; 
 background-size: cover;
 background-position: center;
 background-repeat: no-repeat;
}

.movie-detail-container {
  max-width: 750px;
  padding: 16px;
}
.login-form,.logout{
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 400px;
  margin: 0 auto ;
}
/* .home {
  height: 100vh;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-top: 40px;
} */

.movie__container {
margin: 10px;
  width: 340px;
}

.movie__name {
  font-size: 24px;
}
.eye{
  width: 15px;
  position: absolute;
  right:18%;
  top:64%;
  left:68%;
 
}
.movie__poster {
  height: 640px;
  width: 100%;
  object-fit: cover;
}

.color {
  margin: 460px;
  height: 140vh;
  margin-top: 40px;
}

.movie__specs {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.movie__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  gap: 1rem;
  justify-items: center;
}

.like>button {
  font-size: 20px;
}

.add-movie-form {
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 350px;
  gap: 1em;
  margin: 1rem auto;
}

